.cataSkeleton {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  padding: 0px 100px;
}
.cata {
  border-radius: 2px;
  display: inline-block;
  /* line-height: 100%; */
  height: 300px;
  width: 100%;
  background-color: #fff;
  background: linear-gradient(
    100deg,
    rgba(232, 232, 232, 1) 20%,
    rgba(250, 250, 250, 1) 50%,
    rgba(232, 232, 232, 1) 60%
  );
  background-size: 1000px 1000px;
  animation: placeholderShimmer 1.5s linear infinite forwards;
}

div .h1 {
  text-align: center;
  width: 400px;
  margin: 10px 0px;
  margin-left: auto;
  height: 60px;
  margin-right: auto;
  background-color: #fff;
  background: linear-gradient(
    100deg,
    rgba(232, 232, 232, 1) 20%,
    rgba(250, 250, 250, 1) 50%,
    rgba(232, 232, 232, 1) 60%
  );
  animation: placeholderShimmer 1.5s linear infinite forwards;
}
.btnSk {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0px;
  background-color: #fff;
  background: linear-gradient(
    100deg,
    rgba(232, 232, 232, 1) 20%,
    rgba(250, 250, 250, 1) 50%,
    rgba(232, 232, 232, 1) 60%
  );
  animation: placeholderShimmer 1.5s linear infinite forwards;
}
